.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(159, 108, 108, 0.712);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #333;
  z-index: 1000;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bottom-nav button:hover {
  color: #1e90ff;
}
